body{
    background-image: url('http://getwallpapers.com/wallpaper/full/1/0/c/822782-full-size-horror-movie-background-2560x1600.jpg');
}

.input-block{ 
    display: inline;
    width: 15rem !important;
}

.container{
    text-align: center
}