@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');



.border-block{
    padding-top: 1rem;
    color: #ebcfac;
 
}

.title-style{

    font-family: 'Bangers', cursive;
}

.container-thumb{
    padding-top: 0.5rem; 
    border: 2px solid #131313;
    border-radius: 20px;
    text-align: center;
    background-color: #252929;
    width: 95%;  
    height: 50%;
}

.like-fil{
    background-image: url('../img/preto-cor.ico');
    height: 32px;
    width: 32px;
    

}

.like-fil-like{
    background-image: url('../img/red-cor.ico');
    height: 32px;
    width: 32px;
}

.img-fil{
    width: 85%;
    height: 23rem;
}

li{
    text-align: left;
    font-family: 'Viga', sans-serif;
    
}

.span-fil{
    text-shadow: 4px 4px black;
    color: #91f01d;
    padding-top: 150px;
    width: 100%;
    font-size:7rem;
    text-align: center;
    font-family: 'Bangers', cursive;

}

.label-fil{
    text-shadow: 4px 4px black;
    color: #91f01d;
    padding: 50px;
    width: 100%;
    font-size: 3rem;
    font-family: 'Bangers', cursive;
}